@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f6f9;
}

.card
{
    position: relative;
    transition: 0.5s;
    height: 6.25rem;
    transition-delay: 0.5s;
}

.card.active
{
    height: 28.125rem;
    transition-delay: 0s;
}

.card .user
{
    position: relative;
    width: 25rem;
    min-height: 9.375rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 60px 40px 30px;
    border-style: solid;
}


.card .user .imgBx
{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}


.card .user .imgBx img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .user .content
{
    position: relative;
    text-align: center;
}

.card .user .content h2
{
    font-size: 1.2em;
    line-height: 1.05em;
    font-weight: 600;
    color: #000;
}


.card .user .content h2 span
{
    font-size: 0.75em;
    font-weight: 400;
}

.card .user .toggle
{
    position: absolute;
    bottom: 0;
    width: 7.5rem;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    transform: translateY(50%);
    border: 6px solid;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}

.card.active .user .toggle
{
    background: #70db70;
    color: #fff;
}

.card .user .toggle::before
{
    content: 'Ver más';
}

.card.active .user .toggle::before
{
    content: 'Cerrar';
}

.card .contact
{
    position: relative;
    top: 1.875rem;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

.card.active .contact{
    height: 20.31rem;
}

.card .contact li
{
    list-style: none;
    width: 100%;
    min-height: 6.25rem;
    background: #fff;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
    padding: 10px 30px;
}

.card.active .contact li
{
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.25s * var(--i));
}


.card .contact li a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.card .contact li a .iconBx
{
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    background: var(--clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .contact li a .iconBx span
{
    color: #fff;
    font-size: 1.5em;
}

.card .contact li a p
{
    color: #666;
    font-size: 1.1em;
}

.card .contact li a:hover p
{
    color: #000;
}



@media screen and (max-width: 768px){
    .card .user
    {
        width: 20rem;
    }

}